@import url("./styles/header.css");
@import url("./styles/main.css");
@import url("./styles/footer.css");

:root{

    --fonte-principal: "Work Sans", sans-serif;

    --corDeFundo: #FFFFFF;
    --corDeFundo-secundaria: #b6b7f5;   

    --corDeFonte-primaria: #3b3c4a;
    --corDeFonte-secundaria: #181a2a;
    --corDeFonte-terciaria: #fff;

    --corDeBotao-destaque: #4b6bfb;
    --corDeFonte-botao-destaque: #fff;
    --corDeFundo-botao: #f4f4f5;
    --corDeFonte-botao: #a1a1aa;


}

body{
    background-color: (var(--corDeFundo));
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;

}