.navibar{
    padding: 0.65rem 2rem;
    display: block;
}


.menu{
    display: flex;
    justify-content: space-between;

}

.menu__logo{
    width: auto;
    height: auto;
}

.menu__navigation{
    height: 3rem;
    display: flex;
    justify-content: space-between;

    align-items: center;
    gap: .6rem;

}

.menu__lista{
    height: 2rem;
    margin: .3rem 0 .3rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    gap: 2.5rem;
}

.menu__lista-item{
    margin: .5rem;
    width: auto;
    height: 2rem;
    font-size: 1rem;
}

.menu__lista-item a{
    text-decoration: none;
    color: var(--corDeFonte-primaria);
}

.menu__botoes{
    width: 16rem;
    height: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu__pesquisa{
    background-color: var(--corDeFundo-botao);
    border: none;
    color: var(--corDeFonte-botao);
    width: 10rem;
    height: 1.5rem;
    margin:4px;
    padding: .5rem 1rem;
    border-radius: 5px;
}

.menu__pesquisa::placeholder{
    width: 114px;
    margin: 8px 16px 8px 0px;
    font-family: var(--fonte-principal);
    height: 20px;
    font-size: 14px;
    align-items: flex-start;
    background: url("../img/search-outline.svg") no-repeat;
    background-position:right;
}

.menu__estilo{
    width: 48px;
    height: 20px;
    margin: 4px;
    border: none;
    border-radius: 100px;
}

.menu__estilo::placeholder{
    align-items: start;
    background: url("../img/Frame205.svg") no-repeat;
    background-position: 1em;
}
