.container{
    width: max-content;
    height: 2748;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 118px;
    padding: 10px 35px;
}

.container__banner{

    margin: 10px;
    padding: 180px 0;
    background: url('../img/Image.svg') no-repeat;
    border-radius: 12px;
    position:center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container__box__text{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    gap:10px;

}

.container__banner__text{

    height: 110px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    color: var(--corDeFonte-terciaria);
    border-radius: 12px;
    padding: 0 40px 0 0 ;
    margin-top: 24px;

}

.container__banner__text-title{
    width: 720px;
    height: 80px;    
    font-weight: 600;
    font-size: 36px;
    color: var(--corDeFonte-terciaria);
}

.container__banner__text-title-emphasis{
    width: 98px;
    height: 28px;
    border-style: none;
    border-radius: 6px;
    background-color: var(--corDeBotao-destaque);
    color: var(--corDeFonte-terciaria);
}

.container__banner__text-title-emphasis::placeholder{
    color: var(--corDeFonte-botao-destaque);
}

.container__banner__text-subtitle{
    width: 290px;
    height: 36px;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    color: var(--corDeFonte-terciaria);
    font-size: 14px;
    gap:15px
}

.container__banner__text-image{
    width: 36px;
    align-items: end;
    justify-content:left;
}

.container__banner__text-author{
    width: 100px;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: end;
}

.container__banner__text-subtitle-date{
    width: 126px;
    color: var(--corDeFonte-terciaria);
    align-items:start;
    justify-content: left;
}

/*cards*/

.container__reports{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: repeating-linear-gradient(90deg,#ddddeb 40px 40px,#fff 15px 55px,#ddddeb 40px 150px);}

.container__reports__themes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10px;
    gap: 16px;
}

.container__reports__themes-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 392px;
    border-radius: 12px;
    padding: 16px;
    gap: 16px
}

.item-card{
    width: 360px;
    height: 240px;
    border-radius: 6px;
}

.item-text{
    width: fill;
    padding: 8px;
    
}

.text-title-emphasis{
    color: #4b6bfb;
    font-size: 14px;
    font-weight: 600;
}

.text-title-subject{
    color: 181a2a;
    font-size: 24px;
    font-weight: 700;
    
}